<section class="footer-navigation">
    <nav>
        <ul>
            <li><a href="/imprint.html">imprint</a></li>
            <li>|</li>
            <li>privacy</li>
        </ul>
    </nav>
</section>
