<div class="blog-teaser-container">
    <div class="navigation-subpage">
        <a href="/" class="navigation-subpage-link"><img src="Images/svg/left-arrow-back-svgrepo-com.svg" alt="">back to homepage</a>
        <h1 class="navigation-subpage-header">Blog</h1>
    </div>

    <div class="blog-teaser-container-teasers">
        {{> blog/blog-teaser }}
        {{> blog/blog-teaser }}
        {{> blog/blog-teaser }}
        {{> blog/blog-teaser }}
        {{> blog/blog-teaser }}
    </div>

    <a href="#loadmore" class="blog-teaser-container-loadmore">load more</a>
</div>
