<div class="blog-teaser-wrapper">
    <a href="/blog-detail.html" class="blog-teaser">
        <div class="blog-teaser-image" style="background-image: url('https://picsum.photos/465/224')">
            <div class="blog-teaser-tech-stack">
                <div class="blog-teaser-tech-item">
                    <img src="./Images/svg/javascript-svgrepo-com.svg" alt="Javascript Logo">
                </div>
                <div class="blog-teaser-tech-item">
                    <img src="./Images/svg/composer-svgrepo-com.svg" alt="Composer Logo">
                </div>
                <div class="blog-teaser-tech-item">
                    <img src="./Images/svg/typo3-svgrepo-com.svg" alt="TYPO3 Logo">
                </div>
            </div>
        </div>
        <div class="blog-teaser-decoration"></div>

        <span class="blog-teaser-additional-info">19.04.1998 by Dragan Balatinac</span>
        <h3 class="blog-teaser-headline">First Blog Post</h3>
        <p class="blog-teaser-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam, pulvinar amet in pulvinar. Risus sit
            egestas faucibus mattis elementum hac. Eget hac fringilla senectus duis rutrum aenean. Ac orci neque, elit ornare
            sed.</p>
    </a>
</div>
