@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
:root {
  --category-color: pink; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh; }

body, html {
  background-color: #222831;
  font-family: "Karla", sans-serif; }

.subpage-content {
  color: #eee; }

.blog-content {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 80px;
  margin-bottom: 80px; }
  @media only screen and (max-width: 680px) {
    .blog-content {
      margin-right: 5%;
      margin-left: 5%; } }
  @media only screen and (min-width: 680px) and (max-width: 1810px) {
    .blog-content {
      margin-right: 10%;
      margin-left: 10%; } }

.hyphenate,
.hyphenate * {
  hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual; }

h1 {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif; }

h2 {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif; }

h3 {
  font-family: "Karla", sans-serif; }

h4 {
  text-transform: uppercase;
  font-family: "Karla", sans-serif; }

h5 {
  font-family: "Karla", sans-serif; }

h6 {
  font-family: "Karla", sans-serif; }

p {
  font-family: "Karla", sans-serif; }

.subpage-content h1 {
  font-size: 30px; }

.subpage-content a {
  color: #ffd369;
  text-decoration: none; }

.navigation-subpage h1.navigation-subpage-header {
  font-size: 3.75rem;
  font-weight: 500;
  margin-top: 0;
  color: #eee; }

.navigation-subpage .navigation-subpage-link {
  color: #aab2bd;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem; }
  .navigation-subpage .navigation-subpage-link img {
    height: 0.938rem; }
  .navigation-subpage .navigation-subpage-link:hover {
    color: #fff; }

.b-card-wrapper {
  display: block;
  width: 100%; }
  .b-card-wrapper .b-card-container {
    position: relative;
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .b-card-wrapper .b-card-container > .front,
    .b-card-wrapper .b-card-container > .back {
      display: block;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform; }
    .b-card-wrapper .b-card-container > .front {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .b-card-wrapper .b-card-container > .back {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    .b-card-wrapper .b-card-container.flip-toggle > .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      pointer-events: none; }
    .b-card-wrapper .b-card-container.flip-toggle > .back {
      opacity: 1;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      pointer-events: auto; }
  .b-card-wrapper .b-card {
    background-color: #eeeeee;
    height: 21.375rem;
    width: 37.5rem;
    border-radius: 0.5rem;
    padding: 1.25rem; }
    @media only screen and (max-width: 680px) {
      .b-card-wrapper .b-card {
        width: 80%; } }
    .b-card-wrapper .b-card .name {
      margin: 0;
      font-family: "Rubik";
      text-transform: uppercase;
      font-style: normal;
      font-size: 2.688rem;
      font-weight: 400; }
    .b-card-wrapper .b-card .job-description {
      margin: 0;
      color: #5e5e5e; }
    .b-card-wrapper .b-card .b-card-decoration {
      height: 1.375rem;
      background-color: #ffd369;
      margin-top: 0.625rem;
      margin-left: -1.25rem;
      margin-right: -1.25rem; }
    .b-card-wrapper .b-card .b-card-navigation {
      position: absolute;
      bottom: 0; }
      .b-card-wrapper .b-card .b-card-navigation nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        gap: 1.25rem; }
        .b-card-wrapper .b-card .b-card-navigation nav ul li {
          list-style: none; }
          .b-card-wrapper .b-card .b-card-navigation nav ul li a {
            text-decoration: none;
            color: #00000099;
            text-transform: uppercase;
            font-size: 0.813rem; }
            .b-card-wrapper .b-card .b-card-navigation nav ul li a.soon {
              text-decoration: line-through; }
            .b-card-wrapper .b-card .b-card-navigation nav ul li a:hover {
              color: #000; }
    .b-card-wrapper .b-card .b-card-additional-info h3 {
      font-family: 'Shadows Into Light', cursive;
      font-size: 2.875rem;
      -webkit-transform: rotate(349deg);
      transform: rotate(349deg);
      color: #ac3235; }
      @media only screen and (max-width: 485px) {
        .b-card-wrapper .b-card .b-card-additional-info h3 {
          font-size: 2.25rem;
          margin: 1.25rem; } }
  .b-card-wrapper .b-card.hide {
    display: none; }
  .b-card-wrapper .back .b-card-decoration {
    margin-top: 5rem; }
  .b-card-wrapper .b-card-description {
    width: 60%; }
    @media only screen and (max-width: 680px) {
      .b-card-wrapper .b-card-description {
        width: 100%; } }
    .b-card-wrapper .b-card-description p {
      text-align: justify;
      font-size: 0.813rem;
      color: #00000099; }
    .b-card-wrapper .b-card-description .link a {
      text-decoration: none;
      color: #000;
      font-weight: 700;
      text-transform: uppercase; }
    .b-card-wrapper .b-card-description .link {
      position: relative; }
    .b-card-wrapper .b-card-description .link svg {
      fill: none;
      stroke: #70aec9;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 338;
      stroke-dashoffset: 338;
      stroke-linecap: round;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 3.75rem);
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
      transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
      z-index: 1;
      pointer-events: none; }
    .b-card-wrapper .b-card-description .link svg {
      stroke: #ac3235; }
    .b-card-wrapper .b-card-description .link.active svg,
    .b-card-wrapper .b-card-description .link:hover svg {
      stroke-dashoffset: 0;
      opacity: 1;
      -webkit-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .b-card-wrapper .b-card-tech-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
    position: absolute;
    bottom: 1.25rem; }
    .b-card-wrapper .b-card-tech-stack .tech-item {
      width: 1.688rem;
      height: 1.688rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .b-card-wrapper .b-card-tech-stack .tech-item img {
        width: 1.688rem;
        height: 1.688rem; }
  .b-card-wrapper .b-card-help {
    text-align: center;
    margin-top: 0.625rem;
    color: #aab2bd;
    cursor: pointer; }
    .b-card-wrapper .b-card-help:hover {
      color: white; }

footer {
  position: absolute;
  bottom: 0;
  padding-left: 0.625rem;
  padding-right: 1.25rem;
  right: 0; }
  @media only screen and (max-height: 830px) {
    footer {
      position: relative;
      padding-right: 0.625rem; } }
  footer .footer-navigation nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  footer .footer-navigation nav li {
    list-style: none;
    color: #eeeeee;
    font-size: 0.813rem; }
  footer .footer-navigation nav a {
    font-size: 0.813rem;
    text-decoration: none;
    color: #eeeeee; }

.blog footer {
  position: relative;
  padding-bottom: 0.625rem; }

.coming-teaser-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem; }
  .coming-teaser-container h3 {
    color: #444c57;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.438rem; }

.blog-teaser-container {
  margin-bottom: 3.125rem; }
  .blog-teaser-container-teasers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3.75rem; }
  .blog-teaser-container-loadmore {
    text-decoration: none;
    color: #aab2bd;
    display: block;
    font-family: "Karla", sans-serif;
    padding-top: 1.875rem;
    margin-bottom: 1.25rem; }
    .blog-teaser-container-loadmore:hover {
      color: #fff; }

.blog-teaser-wrapper {
  background-color: #eeeeee;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 29.063rem;
  height: 26.875rem; }
  .blog-teaser-wrapper .blog-teaser {
    text-decoration: none;
    color: #000; }
    .blog-teaser-wrapper .blog-teaser-image {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      margin-top: -1.25rem;
      border-radius: 0.5rem 0.5rem 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 14rem; }
    .blog-teaser-wrapper .blog-teaser-headline {
      font-size: 1.875rem;
      text-transform: uppercase;
      margin-top: 0.313rem;
      margin-bottom: 0.313rem;
      font-family: "Rubik", sans-serif;
      font-weight: 500; }
    .blog-teaser-wrapper .blog-teaser-description {
      font-size: 0.875rem;
      margin-top: 0.313rem;
      font-family: "Karla", sans-serif;
      width: 80%; }
    .blog-teaser-wrapper .blog-teaser-additional-info {
      font-size: 0.875rem;
      margin-top: 0.313rem;
      color: #5e5e5e;
      width: 80%; }
    .blog-teaser-wrapper .blog-teaser-decoration {
      height: 1.375rem;
      background-color: #ffd369;
      margin-bottom: 0.625rem;
      margin-left: -1.25rem;
      margin-right: -1.25rem; }
    .blog-teaser-wrapper .blog-teaser-tech-stack {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      opacity: 0;
      background: rgba(255, 211, 105, 0.7);
      -webkit-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out; }
    .blog-teaser-wrapper .blog-teaser-tech-item img {
      height: 4.375rem; }
    .blog-teaser-wrapper .blog-teaser:hover .blog-teaser-tech-stack {
      opacity: 1;
      -webkit-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in; }
