.image-element {
    &-caption {
        padding-left: 25px;
        color: $color-grey;
    }

    @media only screen and (max-width: 680px) {
        margin-left: -50px;
        margin-right: -50px;

        img {
            border-radius: 0;
        }
    }
}
