{{#> layouts/base title="blog // Dragan Balatinac" home="false" class="blog"}}
    {{#*inline "content-block"}}
        <div class="blog-content">
            {{> blog/blog-teaser-container }}
        </div>
    {{/inline}}

    {{#*inline "footer-block"}}
        {{> footer/footer }}
    {{/inline}}
{{/layouts/base}}
