{{#> layouts/base title="blog // Dragan Balatinac" home="false" class="blog-detail"}}
    {{#*inline "content-block"}}
        <div class="blog-detail-content">
        </div>
        <div class="blog-related-container">
        </div>
    {{/inline}}

    {{#*inline "footer-block"}}
        {{> footer/footer }}
    {{/inline}}
{{/layouts/base}}
