{{#> layouts/base title="imprint // Dragan Balatinac" home="true"}}

    {{#*inline "content-block"}}
        <section class="subpage-content">
            <a href="/"><---</a>

            <h1>Imprint</h1>
            <p>Dragan Balatinac</p>
            <p>Junior Backend Developer</p>
            <p>aus Essen</p>
            <p>e-mail: <a href="mailto:info@balatinac.com">info@balatinac.com</a></p>
        </section>
    {{/inline}}
{{/layouts/base}}
