{{#> layouts/base title="privacy // Dragan Balatinac" home="true"}}

    {{#*inline "content-block"}}
        <section class="subpage-content">
            <a href="/"><---</a>

            <h1>Privacy</h1>
            <p></p>
        </section>

    {{/inline}}
{{/layouts/base}}
