.idea
.DS_Store
.php_cs.cache
.sass-cache
_temp_
node_modules

/.ddev/*
/cache
/htdocs
/shared
/var/*
!/var/labels
/*.sql

/release
/vendor
/.Build/vendor
/.Build/composer.lock
ENABLE_INSTALL_TOOL
AdditionalConfiguration.*.php
/private/fileadmin
/private/typo3
/private/typo3conf/ext
/private/typo3temp
/private/index.php
/public/
