<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://picsum.photos/1920/1081" alt="">
            <span class="swiper-slide-caption">slide #1: test hehe</span>
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/1920/1082" alt="">
            <span class="swiper-slide-caption">slide #2: test hehe</span>
        </div>
        <div class="swiper-slide">
            <img src="https://picsum.photos/1920/1083" alt="">
            <span class="swiper-slide-caption">slide #3: test hehe</span>
        </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
