// colors
$color-primary: #ffd369;
$color-secondary: #444c57;

$color-ink-red: #ac3235;

$color-white: #fff;
$color-offset-white: #eee;

$color-grey: #00000099;
$color-black: #000;
$color-offset-black: #5e5e5e;
